<div class="container">
    <div class="row shadow-lg">
        <div class="col-4">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea1" style="height: 550px"
              disabled></textarea>
            <label for="floatingTextarea1">Esquema de Base de Datos</label>
          </div>
        </div>
        <div class="col-5">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
              style="height: 550px" autofocus></textarea>
            <label for="floatingTextarea2">Ejecucion de QUERY</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 550px"
              disabled></textarea>
            <label for="floatingTextarea3">Respuesta BD</label>
          </div>
        </div>
        <div class="row p-3">
          <div class="col-10">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea4" style="height: 200px"
                disabled></textarea>
              <label for="floatingTextarea4">Resultados</label>
            </div>
          </div>
          <div class="col-2 d-grid gap-2">
            <button type="button" class="btn btn-success" id="btn-run">Ejecutar</button>
          </div>
        </div>
</div>
