<div class="container shadow-lg">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://cdn-icons-png.flaticon.com/512/603/603190.png" alt="" width="30" height="24"
          class="d-inline-block align-text-top">
        Bases de Datos II
      </a>
    </div>
  </nav>
  <div class="row shadow-lg">
    <div class="col-4">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea1" style="height: 550px"
          disabled></textarea>
        <label for="floatingTextarea2">Esquema de Base de Datos</label>
      </div>
    </div>
    <div class="col-5">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 550px"
          ></textarea>
        <label for="floatingTextarea2">Ejecucion de QUERY</label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 550px"
          disabled></textarea>
        <label for="floatingTextarea2">Resultados</label>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-10">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea4" style="height: 200px"
            disabled></textarea>
          <label for="floatingTextarea2">Errores</label>
        </div>
      </div>
      <div class="col-2 d-grid gap-2">
        <button type="button" class="btn btn-success" id="btn-run">Ejecutar</button>
      </div>
    </div>

  </div>
<router-outlet></router-outlet>