<div class="container shadow-lg position-absolute top-50 start-50 translate-middle">
  <div class="row p-5">
    <div class="col-12">
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Seleccione la Base de Datos</option>
        <option value="1">BD 1</option>
        <option value="2">BD 2</option>
        <option value="3">BD 3</option>
      </select>
    </div>
  </div>
  <div class="row ">
    <div class="col-12">
      <div class="d-grid gap-2 mb-5">
        <button class="btn btn-success" type="button">Conectarse</button>
      </div>
    </div>
  </div>
</div>